{% extends "layouts.html"%}


{% macro campoPizza(campo) %}
    <div class="campo-container">
        {{ campo.label }}
        {{ campo(class="campo-input") }}
        {% if campo.errors %}
            <div class="campo-error">
                {% for error in campo.errors %}
                    <span class="error-text" style="color: red;">⚠ {{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro camposProveedor(campo) %}
    <div class="campo-container">
        <label for="{{ campo.id }}">{{ campo.label }}</label>
        {{ campo(class="campo-input", id=campo.id) }}
        {% if campo.errors %}
            <div class="campo-error">
                {% for error in campo.errors %}
                    <span class="error-text" style="color: red;">⚠ {{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

