{% extends "layouts.html" %}
{% block content %}
<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            <img class="w-8 h-8 mr-2" src="{{ url_for('static', filename='img/pizza.png') }}" alt="logo">
            Bienvenidos    
        </a>
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Inicio de sesión
                </h1>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="p-2 text-sm text-white rounded-lg text-center {% if category == 'danger' %} bg-red-500 {% else %} bg-green-500 {% endif %}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form class="space-y-4 md:space-y-6" action="{{ url_for('login.login') }}" method="POST">
                    {{ form.csrf_token }}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <div>
                        <label for="usuario" class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">
                            Usuario
                        </label>
                        <input type="text" name="usuario" id="usuario" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="juanitolopez12">
                    </div>
                    <div>
                        <label for="contrasenia" class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">
                            Contraseña
                        </label>
                        <input type="password" name="contrasenia" id="contrasenia" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                    </div>
                    <div class="flex flex-col items-center gap-4 w-full">
                        <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                            Iniciar sesión
                        </button>
                        <a href="{{ url_for('login.registro') }}" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                            Crear cuenta
                        </a>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    setTimeout(function() {
        let alertBox = document.querySelector('.p-2.text-sm.text-white.rounded-lg');
        if (alertBox) {
            alertBox.style.display = 'none';
        }
    }, 5000);
</script>

{% endblock %}
